# Entorno virtual
env/

# Archivos y directorios de caché
__pycache__/
*.py[cod]
*.pyo

# Archivos temporales de desarrollo
*.swp
*.swo
*~
*.bak

# Archivos de configuración de bases de datos locales
*.sqlite3

# Archivos de migración de Django
db.sqlite3
*.log

# Archivos de configuración personal
.vscode/
.idea/
